---
---

.current {
  color: green;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 3em;
}

footer {
  margin-top: 1em;
  background-color: #ccc;
  max-height: 20em;
  padding: 1em;
  font-size: smaller;
}

footer nav {
  vertical-align: top;
  display: inline-block;
  margin: 1em;
}

footer nav li {
  margin-left: -2em;
}